# YML Konfigürasyon Dosyaları
/src/main/resources/application.yml
/src/main/resources/application-*.yml

# Varsayılan Hassas Dosyalar
.env
*.env

# Örnek Konfigürasyon Dosyaları Yüklenebilir
!/src/main/resources/application.yml


# IntelliJ IDEA Çalışma Dosyaları
.idea/
*.iws
*.iml
*.ipr

# NetBeans IDE Çalışma Dosyaları
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code Çalışma Dosyaları
.vscode/

# Maven Hedef Klasörü
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Tool Suite (STS) Çalışma Dosyaları
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Derlenen Dosyalar ve Çıktılar
*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.so

# Log Dosyaları
*.log

# Geçici Dosyalar
*.tmp
*.swp
*.swo
*.bak
